type: object
required:
  - cephfsEnabled
  - rbdEnabled
properties:
  cephfsEnabled:
    type: boolean
    default: true
    description: Enable or disable the CephFS CSI driver. When set to false, the CephFS driver controller and CSIDriver resources will not be deployed.
  rbdEnabled:
    type: boolean
    default: true
    description: Enable or disable the RBD CSI driver. When set to false, the RBD driver controller and CSIDriver resources will not be deployed.
  logLevel:
    type: string
    enum:
      - ERROR
      - WARN
      - INFO
      - DEBUG
      - TRACE
    description: Module log level
    default: DEBUG
  cephfsProvisionerWorkers:
    type: integer
    default: 10
    description: Settings for CephFS provisioner workers (default 10). Please do not set this value if you are not sure what you are doing.
  rbdProvisionerWorkers:
    type: integer
    default: 10
    description: Settings for RBD provisioner workers (default 10). Please do not set this value if you are not sure what you are doing.
